body{
    background-image:url(./bg-discord.png);
    background-size: cover;

    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

font-family: "Nunito Sans", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    background-color:#333333;
    height: 85px;
}
.container2{
    padding: 30px 0px;
}

p1{
    padding-left: 10px;
}

main{

    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 25px;
    max-width: 1200px;
    margin-top: 30px;

}
.inside,.aside{
    padding: 15px;
}
h1 {

}
.hero{
    max-width: 1200px;
    background:linear-gradient(135deg, #8547c6 10%, #b845c1 50%, #ab5d8a ),url(./hero.png);
    border-radius:0 0 15px 15px; 
    background-blend-mode: overlay;
   
}
.card{
    width: 30%;
    display: inline-block;
    font-size: 17px;
    padding: 15px 0px;
    
}
ul{
    text-align: right;
    margin-bottom: 15px;
}

      
h2{
     font-size: 30px;
     padding:10px ;
}
h4{ text-align: center;
    padding: 90px;
    font-size: 30px;
    
}

article{
    width: 70%;
    display: inline-block;
}
aside{
    width: 30%;
    float: right;
}
.inside{
    width: 100%;
}
li{
    display: inline;
    font-size: 20px;
}
h1{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    text-align: left;
}
a{
    text-decoration: none;
    color: white;
    font-size: 15x;
}


footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color:#333333;
    color: white;

}